main
{
	background-color: rgba(0, 0, 0, 0.822);
	background-size: cover;
	background-repeat: no-repeat;
}
.badges-footer
{
	height: 4.8rem;
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 1em 0;
}

.manage-btn
{
	height: 40px;
	line-height: 30px;

	display: block;
	border-color: white;
	background-color:#D8DF23;
	color:black;
}
.badges-footer a
{
	border-color: white;
	color:black !important;
}
.badges-footer a:hover
{
	border-color: rgba(255, 255, 255, 0.678);
	color: rgba(0, 0, 0, 0.678) !important;
}

#Badges
{

}
#pts
{
	height: 10%;
	color: wheat;
	font-size: 2em;
	text-align: center;
	font-weight: bolder;
	line-height: 3em;
}
.kikiclub-badge h6
{
	color:blue;
}
.kikiclub-badge input
{
	height: 10%;
}
.media
{
	width:100%;
	height: calc(100% - (2.5rem * 1.2));
	min-height: 150px;
	margin: auto;
	transform: translateY(-10%);
	text-align: center;
}
.media img
{
	position: static;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.kikiclub-badge h5
{
	text-align: center;
	margin: auto;
	background-color: green;
	color: white;
	height: calc(2.5rem * 1.2);
}
.kikiclub-badge h6
{
	text-align: center;
	color:blue;
	height: 10%;
}
img
{
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.kikiclub-badge
{
	&.blured
	{
		.media
		{
			img
			{
				filter: grayscale(100%) blur(100px);
				-webkit-filter: grayscale(100%) blur(100px);

			}


		}
	}

	border: 1px solid white;
	background-color: #D8DF23;
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 0 0 140px 140px;
	display: inline-block;

}