.login-block
{
	background-color: transparent;
	padding : 50px;
	position: absolute;

	width:100%;
	left: calc((100vw - 80% - (50px)) / 2);
	top:calc((100vh - 80% + 150px + (1em * 2)) / 2);
}
#spinner{
	background: #4267b2;
    border-radius: 5px;
	color: white;
    height: 40px;
    text-align: center;
    width: 80%;
}
#wix
{
	background-image : url("../images/Wix_logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
	background-color: white;
	text-align: right;
	box-shadow: 2px 4px #a3a1a17e;

}
#wix
{
	box-shadow: 4px 8px #a3a1a17e;
	text-decoration: none;
	color:black;

}
#wix a
{
	color:black;

}
#wix a:hover
{
	text-decoration: none;
	color:blue;
}
.login-block input
{
	display: block;
	margin : 1em;
	width:80%;
	background-color: white;
	padding: 0.5em;
}
.checked {
  color: rgb(117, 4, 93);
}
.login-block button
{
	border: 3px solid #ADB30F;
	background-color: transparent;
	display: block;
	margin : auto;

	background-color: #F8FD79;
	padding: 5px 40px;
	margin: auto;
}

.signinButton{
	padding:0.5em;
	color:black;
	margin:auto;

}
.signinButton.other
{
	border: 2px solid rgb(63, 73, 66);
	text-align: center;
}

.signinButton.other a,
.signinButton.other a:hover
{
	color:black;
	text-decoration: none;
}
.signinButton.other:hover
{
	border: 2px solid black;
	box-shadow: 3px 3px black;
	text-decoration: none;

}

@media only screen and (min-width: 768px) {
	.login-block{
		width:400px;
		left: calc((100vw - 400px - (50px)) / 2);
		top:calc((100vh - 400px + 150px + (1em * 2)) / 2);
	}
	#spinner{
		width: 400px;
	}
}