.login-block {
  background-color: transparent;
  width: 100%;
  margin: auto;
  background-image: url("../images/textures/kikicode.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-block section {
  padding: 50px;
}

#spinner {
  background: #4267b2;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  width: 80%;
}

.story {
  position: relative;
  width: 100%;
  padding: 50px 50px 75px 50px;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  color: black;
}

.story h2 {
  font-size: 3.125rem;
  display: block;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.story h3 {
  font-size: 1.625rem;
  margin: 1rem 0px;
  margin-bottom: 2.5rem;
  display: block;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: normal;
}

.story .big-btn {
  color: #fff;
  border: none;
}

.story .big-btn:hover {
  background-color: #fd0814;
}

.big-btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e50914), to(#db0510));
  background-image: linear-gradient(to bottom, #e50914, #db0510);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  color: #fff;
  background-color: #e50914;
  font-size: 1em;
  padding: 12.5px 1em;
  min-width: 74px;
  min-height: 50px;
  margin: .5em .5em .5em 0;
  cursor: pointer;
  letter-spacing: .1px;
  font-size: 1.625rem;
  border: none;
  border-radius: 2px;
}

.big-btn:hover {
  background-color: #fd0814;
}

#guest-btn {
  color: white;
}

#guest-btn:hover {
  background-color: red;
  opacity: 0.8;
}

#wix {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-color: white;
  text-align: right;
  -webkit-box-shadow: 2px 4px #a3a1a17e;
          box-shadow: 2px 4px #a3a1a17e;
}

#wix {
  -webkit-box-shadow: 4px 8px #a3a1a17e;
          box-shadow: 4px 8px #a3a1a17e;
  text-decoration: none;
  color: black;
}

#wix a {
  color: black;
}

#wix a:hover {
  text-decoration: none;
  color: blue;
}

.login-block input {
  display: block;
  margin: 1em;
  width: 80%;
  background-color: white;
  padding: 0.5em;
}

.checked {
  color: #75045d;
}

.login-block button {
  border: 3px solid #ADB30F;
  background-color: transparent;
  display: block;
  margin: auto;
  background-color: #F8FD79;
  padding: 5px 40px;
  margin: auto;
}

.login-block button:hover {
  background-color: rgba(249, 253, 121, 0.5);
}

.signinButton {
  padding: 0.5em;
  color: black;
  margin: auto;
  background-color: white;
  text-align: center;
  border: 3px solid black;
}

.signinButton:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 768px) {
  .login-block * {
    margin: auto;
  }
  .login-block input, .login-block .signinButton {
    width: 300px;
    margin: 1.5em auto;
    padding: 4px;
    padding-left: 8px;
  }
  #spinner {
    width: 400px;
  }
}
/*# sourceMappingURL=login.css.map */