main {
  background-color: black;
  padding: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

#badges {
  min-height: 12em;
}

.access-btn {
  background-color: transparent;
  border: none;
  position: relative;
  color: black;
  width: 250px;
  height: 200px;
  line-height: 300px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-indent: 50px;
  display: block;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.badges-infos {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.badges-infos * {
  margin: 0;
  padding: 0;
}

.badges-infos .close {
  color: black;
  top: 4px;
  right: 4px;
}

.badges-infos .close:hover, .badges-infos .close:focus {
  color: gray;
}

.badges-infos .media {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-position: center;
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-color: #D8DF23;
}

.item {
  width: 214px;
}

.item div {
  margin: 0;
}

.item div .kikiclub-badge {
  width: 214px;
  height: 214px;
  position: relative;
  background-color: white;
  border: 1px solid black;
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
}

.item div .kikiclub-badge.blured {
  background-color: gray;
  overflow: hidden;
}

.item div .kikiclub-badge.blured .media {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  margin: auto;
}

.item div .kikiclub-badge.blured .media img {
  overflow: hidden;
  filter: grayscale(100%) blur(7px);
  -webkit-filter: grayscale(100%) blur(7px);
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.multislider .MS-content {
  margin: auto;
}

.container {
  margin: 0 auto;
}

h3 {
  color: #000000;
  text-align: center;
  padding: 1em;
  font-weight: bolder;
  font-size: 1.3rem;
}

h3 + p {
  text-align: center;
}

.item a {
  width: 100%;
  display: block;
}

.workshop {
  height: 180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workshop .media {
  width: 100%;
  height: 70%;
  background-color: rgba(245, 245, 245, 0.646);
}

.workshop .media * {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.workshop h4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #F5F5F5;
  color: #B3B3B1;
  font-size: 1rem;
  height: 30%;
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  /* <---- NEW    */
  text-align: center;
}

.link-collapse {
  text-align: center;
  margin: auto;
  display: block;
  cursor: pointer;
}

.line {
  height: 180px;
  overflow: hidden;
}

.alert-new {
  text-align: center;
  text-indent: 0;
  background-color: #E60A60;
  font-size: 1em;
  color: black;
  height: 50px;
  width: 50px;
  border: 5px solid #E60A60;
  border-radius: 100%;
  line-height: 46px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 576px) {
  .badges-infos .infos {
    padding: 1rem;
    float: left;
  }
  .badges-infos .media {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-position: center;
    background-size: 90% auto;
    background-repeat: no-repeat;
    float: left;
    background-color: #D8DF23;
  }
  .MS-content {
    max-width: 540px;
  }
  .col-lg-2 {
    width: 50%;
  }
  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .MS-content {
    max-width: 720px;
  }
  h3 {
    font-size: 1.8rem;
  }
  .col-lg-2 {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .MS-content {
    max-width: 960px;
  }
  .col-lg-2 {
    width: 20%;
  }
  h3 {
    font-size: 1.9rem;
  }
}

@media (min-width: 1200px) {
  .MS-content {
    max-width: 1140px;
  }
  h3 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=member-home.css.map */