.sheet
{
	background-size: cover;
	background-repeat: no-repeat;
	h3
	{
		text-align: center;
		line-height: 5rem;
		font-size: 4.5rem;
		margin: 0;

	}
	h4
	{
		text-align: center;
		background-color:white;
		border-top : 4px solid black;
		border-bottom : 4px solid black;
		padding: 0.5em;

		margin: auto;
	}
	.media
	{
		width: 33%;
		height: 300px;
		display: inline-block;
		img
		{
			max-width: 100%;
			max-height: 100%;
			margin: auto;

		}
		text-align: center;
		line-height: 300px;
		background-color: rgba(240, 255, 255, 0.639);
		vertical-align: top; /* added */

	}
	.description
	{
		padding: 1em;
		width: 65%;
		height: 300px;
		display: inline-block;
		background-color: rgba(240, 255, 255, 0.639);
		vertical-align: top; /* added */

	}
	.h2
	{
		text-align: center ;
		margin: 1em auto  ;
		display: block  ;
	}
}
.manage-btn
{
	height: 40px;
	line-height: 30px;

	display: block;
	border-color: white;
	background-color:#D8DF23;
	color:black;
}

.error-droid
{
	border: none;
	float: none;
	h2
	{
		background-color:red;
		border: 5px solid white;
	}
	img
	{
		display: block;
		margin: 1em auto;
	}
}
#profil-form
{
	padding: 3em;
	background-color: rgba(255, 255, 255, 0.578);
	border: none;
	.media
	{
		margin: 1em;
		width: auto;
		display: block;
	}
	#imagedropzone
	{
		margin: 1em;
	}
	.ck.ck-editor
	{
		margin: 1em;
		width: auto;
	}

}
.description::after
{
	clear: both;
}