#pages
{
	padding: 0 10%;
	background-color: white;
	margin: 1em 0 0 0;
}

#shared-posts
{
	margin: 0;
}
main
{
	width: 100%;
}

.social-media
{
	width: 100%;
	height: 800px;
	background-color: white;
	margin: 1em 0;
}
.pageBtn
{
	background-color: transparent;
	border: none;
	padding: 1em;
}
h2
{
	text-align: center;
}
#add-shared
{
	background-color: rgba(217, 223, 35, 0.692);
	border: 3px solid gray;
	margin: 0;
	padding: 1em;
	input
	{
		padding: 4px;
		padding-left: 8px;
	}
	
	  
	.ck.ck-editor {
		margin: auto;
		width: 80%;
		.ck.ck-editor__editable_inline p {
			width: 100%;
			height: 200px;
		}
	}
}
#imagedropzone,#content
{
	margin: 1em auto;
	width: 80%;
}
.post
{
	width:100%;
	background-color: white;
	margin: auto;
	border: 1px solid black;
	position: relative;
	text-align: center;
	margin: 1em 0;
	.media
	{
		width: 300px;
		height: 300px;
		border: 1px solid black;

		background-size: 90% auto;
		background-repeat: no-repeat;
		background-position: top 20% right 50%;
		margin: 1em auto;

		box-shadow: 0 0 10px 3px black;
		max-width: 90%;
		
	}
	button
	{
		position: absolute;
		top:0;
		right: 0;
		border-radius: 100%;
		background-color: red;
		padding: 0 0.5em;
		border-color: black;
	}
	.username
	{
		background-color: #D8DF23;
		padding: 5px;
		margin: 0;
	}
	.title
	{
		margin: 5px;
		padding:5px;
		border-bottom: 1px solid gray;
		width: 80%;
		margin: auto;
		text-align: center;
		font-weight: bolder;
	}
}

.post .content
{
	padding: 10px;
	margin: 0;
}
#add-shared input, #add-shared textarea ,#add-shared .send
{
	display: block;
	width:80%;
	margin: 1em auto;
}

#social
{
	display: none;
	background-color: #D8DF23;
	border: 3px solid gray;
	margin: 2em 1em;
	width: calc(300px);
	height: 100%;
	float:left;
	padding:1em;
}
.instagram, .fb-page.fb_iframe_widget
{
	padding-top: 1em;
}

.instagram
{
	width:100%;
	overflow: hidden;
}
.instagram-media
{
	background:#FFFFFF;
	line-height:0;
	padding:0 0;
	text-align:center;
	text-decoration:none;
	width:300px;
}

.instagram-media.instagram-media-rendered
{
	min-width: 300px ;
}
@media (min-width: 576px)
{
	main
	{
		padding: 2em;
	}
}
@media (min-width: 992px)
{
	#social
	{
		display: block;
	}
	main
	{
		float: right;
		width: calc(100% - 300px - 2em);
		padding: 2em;
	}
}