.manage-btn {
  height: 40px;
  line-height: 30px;
  display: block;
  border-color: white;
  color: white;
}

main {
  background-color: black;
  height: 80vh;
  position: relative;
}

main #family-carousel {
  background-color: transparent;
  width: 90vw;
  margin: auto;
  display: block;
  left: 5vw;
  position: absolute;
  top: calc( (80vh - ((40px * 1.2) +  (2 * (19px * 1.2)) + (240px * 1.2))) / 2);
}

main #family-carousel #family {
  width: 80vw;
  margin: auto;
}

main #family-carousel .MS-controls button {
  color: white;
  font-size: 60px;
  text-shadow: -1px -1px 8px #D4D4D4, -1px 1px 8px #D4D4D4, 1px -1px 8px #D4D4D4, 1px 1px 8px #D4D4D4;
}

main #family-carousel .MS-controls button:hover {
  text-shadow: -1px -1px 8px #6a6a6a, -1px 1px 8px #6a6a6a, 1px -1px 8px #6a6a6a, 1px 1px 8px #6a6a6a;
}

.users-footer {
  background-color: black;
  padding: 1em 0;
}

.users-footer a {
  border-color: white;
  color: white;
}

.users-footer a:hover {
  border-color: rgba(255, 255, 255, 0.678);
  color: white;
}

.member {
  width: 100%;
  text-align: center;
  height: calc((40px * 1.2) +  (2 * (19px * 1.2)) + ((240px * 1.2) + 32px));
  overflow: hidden;
  position: relative;
}

.member .member-name {
  color: white;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.member .member-nbWorkshops, .member .member-nbPTS {
  color: #68B04D;
}

.member .member-nbWorkshops, .member .member-nbPTS {
  font-size: 19px;
}

.member button {
  background-color: transparent;
  border: none;
  display: block;
  margin: auto;
  width: 100%;
}

.member .member-logo, .member .member-stateLogo {
  display: block;
  border-radius: 100%;
  width: calc(80vw - 80px);
  height: calc(80vw - 80px);
  margin: 30px auto;
  background-color: #ADB30F;
  -webkit-box-shadow: 0 0 10px 5px #ADB30F, 0 0 20px 10px #21503d, 0 0 25px 15px #333232;
          box-shadow: 0 0 10px 5px #ADB30F, 0 0 20px 10px #21503d, 0 0 25px 15px #333232;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.member .member-logo:hover, .member .member-stateLogo:hover {
  border: none;
  background-color: #f2f3c0;
  -webkit-box-shadow: 0 0 10px 5px #f2f3c0, 0 0 20px 10px #5af7bb, 0 0 25px 15px #3ae248;
          box-shadow: 0 0 10px 5px #f2f3c0, 0 0 20px 10px #5af7bb, 0 0 25px 15px #3ae248;
  /* outer cyan */
}

.member .member-stateLogo {
  left: calc((100% - (80vw - 80px)) / 2);
  opacity: 0.6;
  position: absolute;
  top: 0;
  display: none;
  background-image: url(../images/tool.png);
}

.member .member-nbalert {
  background-color: #d30a57;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  font-size: 30px;
  position: absolute;
  top: 25px;
  right: calc(50% - (240px / 2) + (45px / 4));
}

@media (min-width: 576px) {
  .member .member-logo, .member .member-stateLogo {
    width: 300px;
    height: 300px;
  }
  .member .member-stateLogo {
    left: calc((100% - 300px) / 2);
  }
}

@media (min-width: 768px) {
  .member .member-logo, .member .member-stateLogo {
    width: 260px;
    height: 260px;
  }
  .member .member-stateLogo {
    left: calc((100% - 260px) / 2);
  }
}

@media (min-width: 992px) {
  .member .member-logo, .member .member-stateLogo {
    width: 210px;
    height: 210px;
  }
  .member .member-stateLogo {
    left: calc((100% - 210px) / 2);
  }
}

@media (min-width: 1200px) {
  .member .member-logo, .member .member-stateLogo {
    width: 260px;
    height: 260px;
  }
  .member .member-stateLogo {
    left: calc((100% - 260px) / 2);
  }
}
/*# sourceMappingURL=users.css.map */