#workshop-form
{
  background-color: transparent;
  border: none;
  height: auto;
  .media
{
	background-color: transparent;
}
}

.fa.fa-star
{
	color:white;

}
.fa.fa-star.checked
{
	color:#D8DF23;

}
.stars
{

	font-weight: bolder;
	display: inline;
}
#workshop-infos
{
	width: 80%;
	margin: auto;
	padding: 2em;
	.media
	{

		height: 50vh;
		margin: auto;
	}
	#infos
	{
		width: 100%;

		padding: 1em;
		margin: 1em;
		.fa.fa-star
		{
			color:gray;
		}
		.fa.fa-star.checked
		{
			color:#D8DF23;
		}
	}
}

.media video
{
	width: 100%;
	height: 100%;
}
.media img
{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

aside
{
	#workshop-menu
	{
		display: none;
		input, li
		{
			display: inline-block;
		}
		.card-header
		{
			border-bottom: 2px solid black;

		}
		.card
		{
			background-color: transparent;
			border: none;
			border-top: 5px solid black;
			border-bottom: 5px solid black;

		}
	}
}

#loading-page
{
	width: 100vw;
	height: 100vh;

	position: fixed;
	top:0;
	left:0;
	display: none;
	background-color: rgba(0, 0, 0, 0.592);
}
#btns-zone
{
  clear: both;
  background-color: white;
  border-bottom: 5px solid black;
  padding: 0.5em;
  .return-btn
  {
	  background-color:transparent;
	  display: block;
	  margin: auto;
	  padding: 0.5em;
	  margin: 0.5em auto;
  }
}

.loading-bar
{
	background-color: white;
	height: 50px;
	line-height: 50px;
	position: relative;
	top: calc((100% - (50px)) / 2);

	width: 80%;
	margin: auto;
	text-align: center;

	.loading-percentage
	{
		background-color: aqua;
		height: 50px;
		position: absolute;
		top:0;
	}

}
.sheet
{
	background-image: url("../images/textures/workshop.png");
	background-size: 100% 100%;
	min-height: 0;
	background-repeat: no-repeat;

	height: 1200px;
	.media *
	{
		border: groove;
		border-radius: 10%;
	}
	h2
	{
		background-color: transparent;
		border: none;
		font-size: 3rem;
	}
	.logo-kiki-café
	{
		width:100px;
		height: 100px;
		background-image: url("../images/textures/logo-café.png");
		background-size: contain;
		background-repeat: no-repeat;
		margin: auto;
		padding: 0;
	}
}
.loading-bar.download
{
	top: calc((100% / 2));
	.loading-percentage
	{
		background-color: green;
	}
}

@media only screen and (min-width: 1000px) {
	aside
	{
		height: 1200px;
		width:25%;
		float: left;
		padding:1em;
		margin: 0;
		background-color: white;
		border-top : 5px solid black;
		border-bottom : 5px solid black;
		#workshop-menu {
			display: block;
			#search-form
			{
				.card {
					background-color: rgba(217, 223, 35, 0.442);

				}
				.card-header {
					background-color: rgb(217, 223, 35);
				}
			}
		}
  }

  #workshop-form
  {


	border: none;

	.media
	{
		height: 400px;
		width: 400px;
		margin: auto;
	}

  }
  main
	{
		width: calc(75% - 1.1em);
		padding: 0;
		margin:0;
		float: right;
	}
}


@media only screen and (min-width:450px) and (max-width: 1000px) {
	aside
	{
		#workshop-menu {
			width: 100%;
			display: block;
			#search-form
			{
				display: flex;
				.card {
					background-color: #D8DF23;
					width : calc(100% / 3);
					margin: 1em;
				}
			}
		}
	}
}