@charset "UTF-8";
#workshop-form {
  background-color: transparent;
  border: none;
  height: auto;
}

#workshop-form .media {
  background-color: transparent;
}

.fa.fa-star {
  color: white;
}

.fa.fa-star.checked {
  color: #D8DF23;
}

.stars {
  font-weight: bolder;
  display: inline;
}

#workshop-infos {
  width: 80%;
  margin: auto;
  padding: 2em;
}

#workshop-infos .media {
  height: 50vh;
  margin: auto;
}

#workshop-infos #infos {
  width: 100%;
  padding: 1em;
  margin: 1em;
}

#workshop-infos #infos .fa.fa-star {
  color: gray;
}

#workshop-infos #infos .fa.fa-star.checked {
  color: #D8DF23;
}

.media video {
  width: 100%;
  height: 100%;
}

.media img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

aside {
  text-align: left;
  background-color: white;
  width: 240px;
  padding: 2em;
}

aside #workshop-menu {
  border-top: 1px solid gray;
}

aside #workshop-menu input, aside #workshop-menu li {
  display: inline-block;
}

aside #workshop-menu .card {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0%;
}

aside #workshop-menu .card .card-body {
  padding: 0;
  margin: 0;
}

aside #workshop-menu .card .card-header {
  padding: 1em 0;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

aside #workshop-menu .card .card-header h5 {
  display: inline-block;
  font-size: 16px;
  width: 80%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}

aside #workshop-menu .card .card-header .buttonSign {
  width: 15%;
  display: inline-block;
  text-align: center;
}

aside #workshop-menu .card label input[type=checkbox] {
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

aside #workshop-menu .card label span {
  height: 16px;
  width: 16px;
  border: 1px solid grey;
  display: inline-block;
  margin: 0 8px;
}

aside #workshop-menu .card label [type=checkbox]:checked + span {
  /* <-- Style its checked state */
  background-image: url("../images/textures/check.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#loading-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.592);
}

#btns-zone {
  clear: both;
  background-color: white;
  border-bottom: 5px solid black;
  padding: 0.5em;
}

#btns-zone .return-btn {
  background-color: transparent;
  display: block;
  margin: auto;
  padding: 0.5em;
  margin: 0.5em auto;
}

.loading-bar {
  background-color: white;
  height: 50px;
  line-height: 50px;
  position: relative;
  top: calc((100% - (50px)) / 2);
  width: 80%;
  margin: auto;
  text-align: center;
}

.loading-bar .loading-percentage {
  background-color: aqua;
  height: 50px;
  position: absolute;
  top: 0;
}

.sheet {
  background-size: 100% 100%;
  min-height: 0;
  background-repeat: no-repeat;
  text-align: center;
}

.sheet .media * {
  border: groove;
  border-radius: 10%;
}

.sheet h2 {
  background-color: transparent;
  border: none;
  font-size: 3rem;
}

.sheet .logo-kiki-café {
  width: 100px;
  height: 100px;
  background-image: url("../images/textures/logo-café.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0;
}

.loading-bar.download {
  top: calc((100% / 2));
}

.loading-bar.download .loading-percentage {
  background-color: green;
}

.dropzone {
  width: 80%;
  margin: auto;
}

#workshop-form input, #workshop-form .buttons, #workshop-form textarea, #workshop-form p {
  text-align: center;
  margin: 1em auto;
  display: block;
}

.buttons {
  width: 25%;
}

.buttons * {
  width: 50%;
  float: left;
  border: 2px solid white;
}

#btns-zone {
  width: 50%;
  margin: auto;
  border: none;
}

#btns-zone * {
  float: left;
  width: calc(50% - 1em);
  display: block;
}

#btns-zone .return-btn {
  margin: 0.5em;
}

#workshop-form p {
  width: 50%;
  padding: 1em;
}

#workshop-form p input, #workshop-form p span {
  width: 45%;
  padding: 0;
  margin: 0;
  display: inline-block;
}

#x-aside, .btn-filter {
  display: none;
}

@media only screen and (max-width: 576px) {
  .btn-filter {
    display: block;
    background-color: red;
    width: 36px;
    height: 75px;
    position: fixed;
    z-index: 100;
    cursor: pointer;
  }
  .btn-filter span {
    -webkit-transform: rotate(90deg) translateX(10px);
            transform: rotate(90deg) translateX(10px);
    display: block;
  }
  #x-aside {
    display: block;
    background-color: red;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100%;
  }
  aside {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 110;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  aside {
    width: 100%;
  }
  aside #workshop-menu {
    width: 100%;
    display: block;
  }
  aside #workshop-menu .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33%;
    float: left;
  }
  aside #workshop-menu .search-form .card {
    width: 100%;
    margin: 1em;
  }
  aside #workshop-menu:after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (min-width: 992px) {
  aside {
    width: 25%;
    float: left;
    padding: 1em;
    background-color: white;
  }
  aside #workshop-menu {
    display: block;
  }
  aside .filters {
    width: 240px;
    margin: auto;
  }
  #workshop-form {
    border: none;
  }
  #workshop-form .media {
    height: 400px;
    width: 400px;
    margin: auto;
  }
  main {
    padding: 0;
    margin: 0;
    float: right;
    width: 100%;
  }
  section {
    width: 75%;
    margin: 0;
    padding: 0;
    float: left;
  }
}
/*# sourceMappingURL=workshop-infos.css.map */