

.workshops-sheet
{
	display: flex;
	.workshop-boxes{
		display: block;
		background-color: #D8DF23;
		border: 1px solid black;

		width:100vw;
		min-width: 220px;
		*{
			position: relative;
			z-index: 5;
		}
		.media{
			position: absolute;
			opacity: 0.5;
			top:0;
			left:0;
			z-index: 0;
		
		}
		
		.workshop-object{
			width:150px;
			height: 150px;
			float: left;
			overflow: hidden;
			background-color:white;
			border:3px solid black;
			position: relative;
			h5{
				text-align: center;
			}
			
		
		}
		.workshop-object-hover{
			width:15vw;
			height: 15vw;
			float: left;
			background-color:red;
			border:3px solid black;
		
		}
		height: calc(100% - 64px);
		
		&::after {
			content: "";
			clear: both;
			display: table;
		  }
		
	}
	h2
	{
		height: 64px;
		text-align: center;
		margin: 0;
	}
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

#manage-btn
{
	border: 1px solid black;
	background-color: #D8DF23;
	margin : 1rem auto;
	display: block;
	width :200px;
	padding:1em;
	text-align: center;
	&:hover
	{
		background-color: rgba(217, 223, 35, 0.5);
	}
}

@media only screen and (min-width:480px)
{
	.workshops-sheet{
		.workshop-boxes{
			width: 33vw;
		}
	}
}
@media only screen and (min-width:960px)
{
	.workshops-sheet{
		width: 80%;
	
	}
}