.form-workshops
{
	background-color: #ADB30F;
	padding: 1em;
	width:80vw;
	border: 5px solid black;
	margin:auto;
}

.form-workshops input, .form-workshops textarea,.form-workshops button,.form-workshops select
{
	display: block;
	width:80%;
	margin: 1em auto;
}
.form-workshops img
{
	border:2px solid black;
}
.workshop-object{
	width:15vw;
	height: 15vw;
	float: left;
	background-color:white;
	border:3px solid black;

}
.workshop-object-hover{
	width:15vw;
	height: 15vw;
	float: left;
	background-color:red;
	border:3px solid black;

}
#workshops-list
{
	width:100vw;
	height:20vw;
	background-color: chartreuse;
	border:1px solid black;
}


#complete,#not-started,#in-progress{

	float: left;
	background-color: bisque;
	width:33%;
	margin:0.1em;
	border: 1px solid black;
	height: 70%;
}
.tabcontent
 {
	 display: none;
 }

 .tabcontent.selected
 {
	 display: block;
 }

 .avatars-list{
	background-color: antiquewhite;
	width:80%;
	overflow-y: scroll;
	height: 130px;
	margin:auto;
	border: 3px solid black;
}
.avatars-list input[type="radio"]:checked+img {
	border: 3px solid red;
}
.avatars-list label img{
	width:100px;
	height:100px;
}
.avatars-list label input[type=radio] {
	opacity: 0;
 }

 .register-contents
{
	width:70vw;
	height:600px;
	margin:15vh auto;
	padding: 1em;
	background-color: #ADB30F;
	border : 6px solid black;
}
.register-contents input[type=text],.register-contents select,.register-contents p {
	display: block;
	width:80%;
	margin: 1em auto;
	padding:4px;
}

.forms-btns{
	margin:auto;
	width:250px;
}
.submit-btn{
	padding:1em 2em;
	border: 3px solid black;
	box-shadow: black 5px 5px 2.5px 2.5px;
	background-color: chartreuse;
	margin: 5em auto;
	float: left;
}
.delete-btn{
	padding:1em 2em;
	border: 3px solid black;
	box-shadow: black 5px 5px 2.5px 2.5px;
	background-color: red;
	margin: 5em auto;
	float: left;
}

.bar
{
	padding:1em;
	height:60px;
	background-color: beige;
}
#research-bar
{
	float:right;
	width:300px;
}
