.form-workshops {
  background-color: #D8DF23;
  padding: 3em;
  width: 100%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  -webkit-box-shadow: 5px 10px #888888;
          box-shadow: 5px 10px #888888;
  text-align: center;
  margin: auto;
}

.input_name {
  width: 25%;
  display: inline-block;
}

.form-workshops input, .form-workshops textarea, .form-workshops button, .form-workshops select {
  display: block;
  width: 80%;
  margin: 1em auto;
}

.form-workshops p {
  text-align: left;
}

.form-workshops p input, .form-workshops p select {
  width: 70%;
  display: inline-block;
}

.form-workshops img {
  border: 2px solid black;
}

.workshop-object {
  width: 150px;
  height: 150px;
  float: left;
  background-color: white;
  border: 3px solid black;
  position: relative;
  overflow: hidden;
}

.workshop-object-hover {
  width: 15vw;
  height: 15vw;
  float: left;
  background-color: red;
  border: 3px solid black;
}

.workshop-object h5 {
  text-align: center;
}

.Workshop-boxes {
  display: inline-block;
  background-color: bisque;
  width: 100%;
  min-width: 220px;
  min-height: calc(120px * 4);
  border: 1px solid black;
  position: relative;
}

#input-h1 {
  width: 80% ;
  margin: 1em;
  font-size: 1.5em;
  text-align: center;
}

.Workshop-boxes * {
  position: relative;
  z-index: 5;
}

.Workshop-boxes .media {
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 0;
}

#new {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text style="transform: rotate(90deg) translateY(-180px) translateX(100px);text-align:center" x="0" y="0" font-size="30" fill="black">New</text></svg>');
}

#manage-btn {
  display: block;
  margin: auto;
  width: 100px;
  text-align: center;
  padding: 1em;
  background-color: white;
  border: 5px solid black;
}

#in-progress {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text style="transform: rotate(90deg) translateY(-180px) translateX(100px);text-align:center" x="0" y="0" font-size="30" fill="black">In Progress</text></svg>');
}

#not-started {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text style="transform: rotate(90deg) translateY(-180px) translateX(100px);text-align:center" x="0" y="0" font-size="30" fill="black">Not Started</text></svg>');
}

#complete {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text style="transform: rotate(90deg) translateY(-180px) translateX(100px);text-align:center" x="0" y="0" font-size="30" fill="black">Completed</text></svg>');
}

.avatars-list {
  background-color: antiquewhite;
  width: 80%;
  overflow-y: scroll;
  height: 130px;
  margin: auto;
  border: 3px solid black;
}

/* AUTO COMPLETE SEARCH BAR */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* AVATARS LIST */
.avatars-list input[type="radio"]:checked + img {
  border: 3px solid red;
}

.avatars-list label img {
  width: 100px;
  height: 100px;
}

.avatars-list label input[type=radio] {
  opacity: 0;
}

.bar {
  padding: 1em;
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  margin: 1em auto;
}

.control-bar {
  position: fixed;
  top: calc( 80px + 2rem);
  right: 50px;
}

.form-workshops {
  overflow-y: scroll;
}

.control-bar #controls {
  width: calc(200px + 2em);
  background-color: beige;
  padding: 1em;
  position: relative;
  top: 0;
  border: 5px solid black;
  -webkit-box-shadow: 5px 5px 17px 5px rgba(0, 0, 0, 0.85);
          box-shadow: 5px 5px 17px 5px rgba(0, 0, 0, 0.85);
}

.control-bar a {
  margin: 0;
  width: 100px;
  margin-left: calc(200px + 2em - 100px);
  height: 50px;
  line-height: 50px;
  background-color: #cc7e17;
  border: 5px solid black;
  text-align: center;
  display: block;
}

.infos {
  margin: 1em auto;
}

#search-bar, #search-barUsers {
  width: 300px;
  margin: auto;
}

#nav-console {
  margin: 1em 0 0 0;
}

.active {
  text-align: center;
  color: black;
}

table {
  width: 100%;
}

.nav-tabs .nav-link.active {
  background-color: #ebddc1;
  border-color: #ebd6ae;
}

.management-tab {
  padding: 2em 0;
  background-color: black;
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 480px) {
  .Workshop-boxes {
    width: calc((100% - 2 * 1.5em) / 2);
    margin: 0.5em;
  }
}

@media only screen and (min-width: 960px) {
  .Workshop-boxes {
    width: calc((100% - 4 * 1.5em) / 4);
  }
}
/*# sourceMappingURL=console.css.map */