*{
	margin: 0;
	padding: 0;
	max-width: 100%;
}
HTML {
	width: 100vw;
}
body
{
	background-color: #D8DF23;
}

nav{
	float: right;
	width:100px;
	margin:0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color:black;

}
.login-block
{
	background-color: transparent;
	padding : 50px;
	position: absolute;

	width:100%;
	left: calc((100vw - 80% - (50px)) / 2);
	top:calc((100vh - 80% + 150px + (1em * 2)) / 2);
}
#spinner{
	background: #4267b2;
    border-radius: 5px;
	color: white;
    height: 40px;
    text-align: center;
    width: 80%;
}
.login-block input
{
	display: block;
	margin : 1em;
	width:80%;
	background-color: white;
	padding: 0.5em;
}
.login-block button
{
	border: 3px solid #ADB30F;
	background-color: transparent;
	display: block;
	margin : auto;

	background-color: #F8FD79;
	padding: 5px 40px;
	margin: auto;
}

h1
{
	font-size: 128px;
	text-align:center;
	color:#878C00;
}
.logo-nom
{
	background-image: url("../images/logoNom.png");
	background-size: 100%;
	width:150px;
	height:150px;

	position: absolute;
	background-repeat: no-repeat;
	left: calc((100vw - 150px ) / 2);
	top:calc((100vh - 450px ) / 2 );
}

.logo
{
	background-image: url("../images/logo.png");
	width:30%;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left:0;
	top:0;
	height: 100%;
}

.logo img
{
	height: 100%;
}

.signinButton{
	padding:0.5em;
	color:black;
	margin:auto;

}
.error
{
	background-color: white;
	border: 3px solid black;
	text-align: center;
	color:red;
	font-weight: bolder;
}
.signinButton.other
{
	border: 2px solid rgb(63, 73, 66);
	text-align: center;
}

.signinButton.other a,
.signinButton.other a:hover
{
	color:black;
	text-decoration: none;
}
.signinButton.other:hover
{
	border: 2px solid black;
	box-shadow: 3px 3px black;
	text-decoration: none;

}

.separator
{
	text-align: center;
	padding:1em;
}

table, th, td {
	border: 1px solid black;
	margin: auto;
	padding: auto;
	text-align: center;
	padding:0.5em;
  }

td{
	background-color: #D8DF23;
}

th{
	background-color: #878C00;
}

a:hover {
	text-decoration: black;
	color:inherit;
}
@media only screen and (min-width: 768px) {
	.login-block{
		width:400px;
		left: calc((100vw - 400px - (50px)) / 2);
		top:calc((100vh - 400px + 150px + (1em * 2)) / 2);
	}
	#spinner{
		width: 400px;
	}
}
