/* DEFAULT */
*{
	margin: 0;
	padding: 0;
	max-width: 100%;

}

HTML {
	width: 100vw;
	background-color: #D8DF23;

}

body{
	background-color: #D8DF23 !important;
}

table{
	background-color: beige;
}

a:hover {
	text-decoration: black;
	color:inherit;
}
a {
	color: black;
}
.btn-link { /* Button that look like a link*/
	background-color: transparent;
	box-shadow: none;
	border: none;
	color: black !important;
}
.btn-link:hover { /* Button that look like a link*/
	text-decoration: black;
	color:inherit;
}
.nav-link:hover
{
	color:grey;
}


li{
	list-style-type: none;
}

a{
	text-decoration: none;
	color:black;

}

h1
{
	text-align:center;
	color:#878C00;
	font-weight: bolder;
}

.error
{
	background-color: white;
	border: 3px solid black;
	text-align: center;
	height:30px;
	color:red;
	font-weight: bolder;
}

.separator
{
	text-align: center;
	padding:1em;
}

.colored-kikicode{
	color: #D8DF23;
}
.colored-kikicode.background{
	color: black;
	background-color:#D8DF23;
}
#setting-button /* Bouton principal pour changer de pages */
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url("../images/user.png");
}


/* HEADER */
header {
	width:100%;
	text-align: center;
	float: left;
	color: black;
	background-color: white;
}
header h1{
	color:black;
	font-size: 80px;
	width: 100%;
	margin: auto;
	text-align: center;
}
header h2{
	color:rgb(70, 70, 70);
}
/* NAV */
nav{
	background-color: white;
	width: 100%;
	height: 50px;
}

#menu
{
	position: sticky;
	z-index: 19;

	top: 0;
	left:0;
	margin: 0;
}


#hamburger{ /* Hamburger menu button */
	background-image: url('../images/hamburger.png');
	background-size: contain;
	width: 30px;
	height: 30px;
	background-color: rgb(73, 90, 61);
	float: left;
}

nav ul {
	width: 100%;
	background-color: white;
	padding: 1em;
}

nav ul li {
	padding: 1em;
	width: 80%;
	border-bottom: 1px solid black;
	margin: auto;
}

nav .container {
	position: sticky;
	top:10px;
	left:10px;
	width: 100%;
	margin: 0;

}
.nav-item, .nav-link
{
	color: black;
}

/* LOGO */
.logo-nom  /* logo avec nom */
{
	background-image: url("../images/logoNom.png");
	background-size: 100%;
	width:150px;
	height:150px;

	position: absolute;
	background-repeat: no-repeat;
	left: calc((100vw - 150px ) / 2);
	top:calc((100vh - 450px ) / 2 );
}

.logo  /* logo sur le long */
{
	background-image: url("../images/logo.png");
	width:30%;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left:0;
	top:0;
	height: 100%;
}

.btn-info
{
	background-color: transparent;
}

/* Footer */
footer {
	background-color: white;
	padding: 2em 20em;
	width: 100%;
	text-align: center;
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	line-height: 75px;
}

footer a {
	display: block;
	width:75px;
	height: 75px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 25%
}

/* Afficheur de Profiles */
#x-btn
{
	background-color: red;
	border-radius: 100%;
	border:3px solid black;
	width:50px;
	height: 50px;
	position: absolute;
	right: 20px;
	top: 20px;
	background-image: url("../images/x-logo.png");
	background-size: contain;
}
#profile-box
{
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	display: none;
	z-index: 30;
}


/* Box de confirmation de formulaire */
#confirm-box{
	position: fixed;
	width:200x;
	height: 100px;
	left:calc((100% - 200px) / 2);
	top:calc((100% - 100px) / 2);

}

#confirm-box button{
	margin: 0 calc( ( 200px - ( 2 * 60px ) ) / 3) ;
	width:60px;

}

/* Bouton pour modifier */
#manage-btn{
	border: 5px solid black;
	width:200px;
	height:40px;
	text-align: center;
	position: absolute;

	left: calc(( 100vw - 200px ) / 2)
}

#manage-btn:hover{
	border: 5px solid rgba(0, 0, 0, 0.425);
}

.member-name {
	position: absolute;
	right: 1em;
}
/* Version Web */
@media only screen and (min-width: 768px) {
	#manage-btn{
		bottom:2em;
	}
	nav .container {
		width: 25%;

	}
	header h1{
		font-size: 100px;
	}

}
