.workshops-list{
	width:40vw;
	overflow-x: scroll;
	overflow-y:auto;
	position: absolute;
	top: calc( ( 100% - 40vw ) / 2);
	height:100vw;
	transform-origin: right top;
	transform:rotate(-90deg) translateY(-40vw);
}

.workshop{
	width:40vw;
	height: 40vw;
	float:left;
	transform: rotate(90deg) translateX(40vw);
	transform-origin: right top;

	padding:1em;

}
.workshop img{
	width:100%;
	border:2px solid black;
	max-height: 100%;
}

.workshop h2{
	text-align: left;
	color:brown;
}

.workshop .stars{
	background-color: white;
	padding: 0.5em;
	width:200px;
}
.workshop .description
{
	height:80px;
	width:40vw;
	overflow: hidden;
}

.workshops-list a {
	color:inherit;
	text-decoration: none;
}
video{
	margin: auto;
}
.workshops-list .media{
	border: 2px solid black;
	margin:auto 0;
	padding: 0;
	width: 80%;
	height: 65%;

}

.workshop-section .media{
	margin:auto;
	padding: 0;
	width: 70%;

}
.workshop-section{
	width:50vw;
	margin:auto;
	background-color: transparent;
	height: 100vh;
}

.workshop-section img{
	display: block;
	margin: 1em auto;
	border:3px solid white;
}

.question {
	-webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
	transform: skew(30deg);

	background-color:greenyellow;
	border : 3px solid blue;
}

.media audio{
	margin: auto;
}