.workshops-list{
	width:40vw;
	overflow-x: scroll;
	overflow-y:auto;
	height:100vw;
	transform-origin: right top;
	transform:rotate(-90deg) translateY(-40vw);
}
.workshops-info
{
	width:100%;
	height:0px;
	background-color: rgb(8, 109, 5);
	overflow: hidden;
	color:black;
	position: relative;
	border: 3px solid black;
	display: none;
}
.workshops-info .media
{
	position: absolute;
	width: 300px;
	height: 300px;
	top:0;
	right:0;


}
.workshops-info.col-sm-12
{
	float:both;
	width: 100%;
}

.workshop{
	height: 300px;
	width:100%;
	padding: 0;
	position: relative;
	padding: 1em;
}
.workshop * {
	position: relative;

}
.workshop .title
{
	text-align: center;


}

.type
{
	position: relative;
	background-color: black ;
	width:90%;
	color: white;
	transform: translateY(100%);

	font-size: 1.3em;
	font-weight: bolder;
	z-index: 1;
}
.workshop h4{
	text-align: left;
	color:yellowgreen;
	margin:0.5em 0;
}

.workshop .stars{
	border:2px solid black;
	background-color: rgb(184, 184, 184);

	padding: 0.5em;
	width:200px;
	margin: 1em 0;
	align-self: left;
}
.workshop .description
{
	width:50%;
	background-color: whitesmoke;
	border-top : 2px solid black;
	border-bottom : 2px solid black;
	overflow: hidden;
	margin:1em 0;
}


.workshops-list a {
	color:inherit;
	text-decoration: none;
}

.carousel-indicators{
	background-color: black;
	width: 100%;
	margin:0;
}

.workshop .media{
	height: 70%;
	width: 100%;
	border: none;
	z-index: 0;
	opacity: 1;
	display: flex;
	background-color: rgba(0, 0, 0, 0.75);
}

.workshop .media video,.workshop .media audio
{
	width:100%;
	height: auto;
	display: block;
	align-self: center;
}
.workshop .media img
{
	width:100%;
	height: auto;
	display: block;
	align-self: center;
}
#workshop-menu
{
	width:25%;
	float: left;
	padding:3em;
}
#workshop-menu .card
{
	background-color: transparent;
	border: none;
	border-top: 5px solid black;
	border-bottom: 5px solid black;

}

#workshop-menu .card-header
{
	border-bottom: 2px solid black;

}

.sort
{
	width: 100%;
	position: relative;
	height: calc(30px + 1em );
}
#sort_select
{
	background-color: transparent;
	border: 2px solid black;
	box-shadow: none;
	position: absolute;
	width: 200px;
	height: 30px;
	top: 1em;
	right: 1em;
}


.workshops-list
{
	width: 75%;
	float: left;
	clear: both;
}
.workshop-section .media{
	margin:auto;
	padding: 0;
	width: 70%;

}
.workshop-section{
	width:50vw;
	margin:auto;
	background-color: transparent;
	height: 100vh;
}

.workshop-section img{
	display: block;
	margin: 1em auto;
	border:3px solid white;
}

.question {
	-webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
	transform: skew(30deg);

	background-color:greenyellow;
	border : 3px solid blue;
}

.media audio{
	margin: auto;
}

#manage-btn
{
	top:0;
}